body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #003366;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background: #002244;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 20px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #0055a5;
    border-radius: 5px;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

.news-item {
    background: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.news-item h3 {
    margin: 0;
    color: #003366;
}

.news-item p {
    margin: 5px 0;
}

.date {
    font-size: 0.85em;
    color: #666;
    text-align: right;
}

#reportForm {
    background-color: #e3f2fd; /* Зміна на світло-синій */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(3, 169, 244, 0.3); /* Зміна на темно-синій */
    max-width: 600px;
    margin: auto;
}

#reportForm label {
    color: #0d47a1; /* Темно-синій */
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

#reportForm input, #reportForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0d47a1; /* Темно-синій */
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#reportForm button {
    background-color: #0d47a1; /* Темно-синій */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

#reportForm button:hover {
    background-color: #1565c0; /* Трохи світліший темно-синій */
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #003366;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
